				<style>
					.lightbox > figure { text-align:left; }
					.lightbox > figure > figcaption { font-size:larger; font-weight:bolder; text-align:center; }
				</style>
				<article class="lightbox">
					<header>
						<h1>HTML Builtins</h1>
						<p>These examples are to provide a sampling of element styling.</p>
					</header>
					<figure id="The Basic Paragraph">
						<figcaption>The Basic Paragraph</figcaption>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</figure>
					<figure id="The Unordered List">
						<figcaption>The Unordered List (Outline)</figcaption>
						<ul>
							<li>Topic
								<ul>
									<li>Point</li>
									<li>Point
										<ul>
											<li>Sub-Point</li>
											<li>Sub-Point
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac mattis nisl. Maecenas sollicitudin arcu at nulla maximus faucibus. Duis posuere libero at eros efficitur, nec molestie lectus efficitur. Morbi dolor felis, cursus vel mi quis, tincidunt venenatis justo.</p>
											</li>
										</ul>
									</li>
								</ul>
							</li>
							<li>Another Topic</li>
						</ul>
					</figure>
					<figure id="The Ordered List">
						<figcaption>The Ordered List (Outline)</figcaption>
						<ol>
							<li>Topic
								<ol>
									<li>Point</li>
									<li>Point
										<ol>
											<li>Sub-Point</li>
											<li>Sub-Point
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac mattis nisl. Maecenas sollicitudin arcu at nulla maximus faucibus. Duis posuere libero at eros efficitur, nec molestie lectus efficitur. Morbi dolor felis, cursus vel mi quis, tincidunt venenatis justo.</p>
											</li>
										</ol>
									</li>
								</ol>
							</li>
							<li>Another Topic</li>
						</ol>
					</figure>
					<figure id="The Definition List">
						<figcaption>The Definition List</figcaption>
						<dl>
							<dt>Term</dt>
							<dd>A definition for the term</dd>
							<dd>An alternate definition for the term</dd>
							<dt>Another term</dt>
							<dt>A Synonym</dt>
							<dd>A definition for Another Term and it's Synonym</dd>
						</dl>
					</figure>
					<figure id="The Table">
						<figcaption>The Table</figcaption>
						<table>
							<caption>Table Caption</caption>
							<thead>
								<tr>
									<th>Col 1</th>
									<th>Col 2</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>First Row, First Cell</td>
									<td>First Row, Second Cell</td>
								</tr>
								<tr>
									<td>Second Row, First Cell</td>
									<td>Second Row, Second Cell</td>
								</tr>
								<tr>
									<td>Third Row, First Cell</td>
									<td>Third Row, Second Cell</td>
								</tr>
							</tbody>
						</table>
					</figure>
					<figure id="The Form">
						<figcaption>The Form</figcaption>
						<form>
							<div class="form-field text"><label for="textfield">Text</label><input id="textfield" type="text" /></div>
							<div class="form-field text"><label for="password">Password</label><input id="password" type="password" /></div>
							<div class="form-field check-box"><label for="checkbox">Checkbox</label><input id="checkbox" type="checkbox" /></div>
							<div class="form-field select">
								<label>Dropdown</label>
								<select>
									<option value="1">Option 1</option>
									<option value="2">Option 2</option>
									<option value="3">Option 3</option>
								</select>
							</div>
							<div class="form-field range"><label for="range">Value Slider</label><input id="range" type="range" /></div>
							<fieldset>
								<legend>Grouped Controls</legend>
								<ul class="radio-button-list">
									<li class="form-field"><input type="radio" name="color" id="red" /><label for="red">Radio</label></li>
									<li class="form-field"><input type="radio" name="color" id="green" /><label for="green">Radio</label></li>
									<li class="form-field"><input type="radio" name="color" id="blue" /><label for="blue">Radio</label></li>
								</ul>
							</fieldset>
							<div class="form-field text-area"><label for="textarea">TextArea</label><textarea id="textarea"></textarea></div>
							<div class="button-group">
								<button>Standard Button</button><button type="submit" class="default">Default Button</button>
							</div>
						</form>
					</figure>
				</article>
				<article class="lightbox">
					<header>
						<h1>Things requiring complex CSS</h1>
					</header>
					<figure>
						<figcaption>Breadcrumbs</figcaption>
						<ul class="breadcrumbs">
							<li><a href="#">Category</a></li>
							<li><a href="#">Subset</a></li>
							<li><span>Selection</span></li>
						</ul>
					</figure>
					<figure>
						<figcaption>Pop Over Dialog</figcaption>
						<div class="button-group" style="text-align:center">
							<label for="example-dialog-toggle" />Show Dialog</label>
						</div>
						<input type="checkbox" id="example-dialog-toggle" class="checkbox-hack">
						<div class="in-page-popover" id="ExampleDialog">
							<label for="example-dialog-toggle" class="scrim"></label>
							<div class="dialog">
								<h1>Dialog</h1>
								<p>The dialog can be dismissed by a label masquerading as a button in the dialog or by the label masquerading as the dark grey but translucent background/overlay</p>
								<div class="button-group">
									<label for="example-dialog-toggle" />Dismiss Dialog</label>
								</div>
							</div>
						</div>
					</figure>
				</article>
				<article class="lightbox">
					<header>
						<h1>Things Requiring Javascript</h1>
					</header>
					<figure>
						<figcaption>Tab Control</figcaption>
						<div class="tabs">
							<ul>
								<li>
									<input type="radio" id="tabA1" name="tab-control-A" onchange="tabChange(this)" class="checkbox-hack" value="tab-control-A-1" />
									<label for="tabA1">Tab 1</label>
								</li>
								<li>
									<input type="radio" id="tabA2" name="tab-control-A" onchange="tabChange(this)" class="checkbox-hack" value="tab-control-A-2" checked />
									<label for="tabA2">Tab 2</label>
								</li>
								<li>
									<input type="radio" id="tabA3" name="tab-control-A" onchange="tabChange(this)" class="checkbox-hack" value="tab-control-A-3" />
									<label for="tabA3">Tab 3</label>
								</li>
							</ul>
							<div id="tab-control-A-2">
								<h1>Tab 2</h1>
								<p>First tab is the default... needs to match the tab with &quot;checked&quot; attribute</p>
								<p>There is no way to take two actions, (highlight active tab, and show/hide tab) while using sensible markup that puts them under different parents. And putting them under the same parent would result in tabs that must be a fixed size so they can be absolutely positioned.</p>
							</div>
							<div id="tab-control-A-1">
								<h1>Tab 1</h1>
								<p>Suspendisse gravida lacinia turpis, eget maximus nisl sagittis id. Praesent lobortis aliquet maximus. Ut ut vulputate ligula, eu pellentesque arcu. Duis et mattis metus. Donec aliquam, enim sit amet varius scelerisque, sapien urna efficitur eros, id placerat ligula nulla ac dolor. Nulla velit lorem, cursus ut orci nec, iaculis suscipit orci. Mauris eget leo sed mauris commodo eleifend. Duis condimentum vehicula dictum. Proin posuere libero sit amet pretium consequat.</p>
							</div>
							<div id="tab-control-A-3">
								<h1>Tab 3</h1>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nisi metus, aliquet eget euismod in, blandit ac mi. Proin non libero aliquet, facilisis tortor nec, facilisis urna. Mauris volutpat sem non auctor posuere. Maecenas malesuada hendrerit accumsan. Pellentesque condimentum a eros eu facilisis. Proin fringilla vel quam ornare iaculis. Aenean nec nulla urna. Phasellus vehicula erat ac dolor consequat scelerisque. Quisque ac gravida tellus. Ut cursus, odio vel interdum cursus, dui arcu iaculis libero, a ullamcorper odio lorem id velit.</p>
							</div>
							<script>
								var currentTab = 'tab-control-A-2';
								
								function tabChange(tab) {
									document.getElementById(currentTab).style.display = 'none';
									currentTab = tab.value;
									document.getElementById(currentTab).style.display = 'block';
								}
							</script>
							<noscript>
								<style>
									.tabs > ul { display:none; }
									.tabs > div { display:block; }
								</style>
							</noscript>
						</div>
					</figure>
				</article>
