				<article>
					<h1>Hello World</h1>
					<p>Base Web Application is designed to be a fast and lightweight starting point for web application creation. The premise is that the developer can fork this project, add modules and themes as needed focusing on the application logic while the base web application project takes care of turning http requests into method dispatches and returning either html or json (therefore implementing an api with no additional work). Yet this is balanced by allowing the web application developer full access to the deep down innards if needed&hellip; Warning this means that a developer can shoot themself in the foot but the that is the tradeoff for being fast at processing requests and flexible (for developing).</p>
				</article>
